Is section 4, Reporting Format Update, still accurate?

Section 4 describes a number of required and optional fields for Failure Reports. Do we need to make any updates to the fields included, or the "level" of requirement they represent (REQUIRED, OPTIONAL, etc)?

In addition to the few public examples, we may want to try to get input from those parties receiving reports under private agreements who are using the RFC7489 guidelines.

Section 4 is almost identical to Section 7.3.2 of RFC 7489.   Diff is as follows:
```diff
-7.3.1.  Reporting Format Update
+4.  Reporting Format Update
 
    Operators implementing this specification also implement an augmented
-   version of [AFRF] as follows:
+   version of [RFC6591] as follows:
 
    1.  A DMARC failure report includes the following ARF header fields,
        with the indicated normative requirement levels:
@@ -10,17 +10,18 @@
 
        *  Delivery-Result (OPTIONAL)
 
-       *  DKIM-Domain, DKIM-Identity, DKIM-Selector (REQUIRED if the
-          message was signed by DKIM)
+       *  DKIM-Domain, DKIM-Identity, DKIM-Selector (REQUIRED for DKIM
+          failures of an aligned identifier)
 
        *  DKIM-Canonicalized-Header, DKIM-Canonicalized-Body (OPTIONAL
-          if the message was signed by DKIM)
+          if reporting a DKIM failure)
 
-       *  SPF-DNS (REQUIRED)
+       *  SPF-DNS (REQUIRED for SPF failure of an aligned identifier)
 
    2.  The "Identity-Alignment" field is defined to contain a comma-
-       separated list of authentication mechanism names that produced an
-       aligned identity, or the keyword "none" if none did.  ABNF:
+       separated list of authentication mechanism names that failed to
+       authenticate an aligned identity, or the keyword "none" if none
+       did.  ABNF:
 
      id-align     = "Identity-Alignment:" [CFWS]
                     ( "none" /
@@ -34,5 +35,5 @@
        used when a failure report is generated because some or all of
        the authentication mechanisms failed to produce aligned
        identifiers.  Note that a failure report generator MAY also
-       independently produce an AFRF message for any or all of the
+       independently produce an ARF message for any or all of the
        underlying authentication methods.
```

> we may want to try to get input from those parties receiving reports under private agreements who are using the RFC7489 guidelines.

I have no idea whom to ask.

Perhaps we could ask for a comment to someone who uses it?


Before putting much effort into this, I would poll the group to see if there is interest in doing anything at all with the failure draft.
I know I'm not the only one who would prefer to dump the draft and stub out the references to failure reporting in the main draft.

Hi @jrlevine. [For anybody not tracking the (former) IETF WG:  That question is before the group through the 11th.] I was just trying to scope out what might need attention if the decision was made to continue work, not assuming anything about what that decision might be.

> > we may want to try to get input from those parties receiving reports under private agreements who are using the RFC7489 guidelines.
> 
> I have no idea whom to ask.
> Perhaps we could ask for a comment to someone who uses it?

Some people involved in commercial report processing have said that failure reports, perhaps with format variations, are still exchanged between certain mail receivers and themselves. So that's who I'd be asking.

And yes, I can anticipate the question, "Why bother document something done by private agreement?" It is something that grew out of the pre-GDPR DMARC failure reports, and if they're still doing it there must be some utility. While public DMARC failure reports have declined to statistically insignificant numbers, we might as well document the outcome of the experiment while we still can.

I'd rather ask to LinkedIn or someone who does the public reporting than document private exchanges.

It's not worth adding stuff.  The document is god as is.